<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="CB537285-0096-47C4-803B-FBBE7719C722" Name="bindingProjectSetup" Language="1033" Version="1.0.0.0" Manufacturer="localtest" UpgradeCode="501f31b7-6751-47e7-9988-1a86756a5548">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="bindingProjectSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid=""
      </Directory>
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="bindingProjectSetup" />
			</Directory>
		</Directory>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir"/>
  
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="notepad.exe" Guid="{A06BAEE9-F6DD-4357-A3F3-60720CCEC7CE}">
        <File Id="notepad.exe" Source="C:\PackingFiles\npppluplus.exe"></File>
      </Component>
      <Component Id="guidebook.docx" Guid="{43A2F861-C6FC-4FF4-9F09-ABCF6EFF58F0}">
        <File Id="guidebook.docx" Source="C:\PackingFiles\guidebook.docx"></File>
      </Component>
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
